* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("mapimage.jpeg");
  background-size: cover;
  background-position: center center; 
  height:100%;
  width:100%
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: lime;
  text-shadow: 3px 3px 1px purple;
  text-align: center;
  margin-top: 5px;
}



#maze {
  width: 800px;
  height: 600px;
  background: lime;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.row {
  flex-grow: 1;
  display: flex;
}

.block {
  flex-grow: 1;

}

.wall {
  background: black;

}

.finish {
  background: purple;
}

.player {
  width: 38.09px;
  height: 40px;
  background: gray;
  position: absolute;
  top: 360px;
  
}




.win {
  width: 700px;
  height: 700px;
  background: gray, purple;
  font-family: 'Pacifico', cursive;
  color: white;
  text-align: center;
  font-size: 52px;
  margin: 86px auto;
  position: absolute;
  top: -4%;
  left: 26%;
  z-index: 2;
}

.win a {
  color: rgb(240, 186, 186);
  text-decoration: none;
  color: rgb(240, 159, 173);
}


.text {
  margin: 120px auto;
}
