/*  Make each cell of the maze a DIV.
Make each row of the maze a DIV using "display: flex;"   */


:root {
    box-sizing: border-box;  
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 35px;
}

#maze {
    width: 420px;
    height: 300px;
    background-color: orange;
    
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.row {
    border: 1px solid;

    flex-grow: 1;
    display: flex;
}

.block {
  flex-grow: 1;
}

.block.wall {
  background-color: black;
}

.block.start {
    background-color: limegreen;
}

.block.finish {
    background-color: purple;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;

}